[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/libsdl-org/SDL
	branch = release-2.30.x
[submodule "vendor/bgfx"]
	path = vendor/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "vendor/dylib"]
	path = vendor/dylib
	url = https://github.com/martin-olivier/dylib
